/* line 5, ../../app/assets/stylesheets/personnages.css.scss */
td {
  width: 225px;
}

/* line 9, ../../app/assets/stylesheets/personnages.css.scss */
input {
  width: 195px;
}

/* line 13, ../../app/assets/stylesheets/personnages.css.scss */
.integer input {
  width: 45px;
}

/* line 17, ../../app/assets/stylesheets/personnages.css.scss */
.spec {
  display: inline-block;
  /*width: 50%;*/
  /*vertical-align: top;*/
}

/* line 23, ../../app/assets/stylesheets/personnages.css.scss */
.container {
  width: 95%;
  max-width: 1400px;
}

/* line 28, ../../app/assets/stylesheets/personnages.css.scss */
.hidden {
  visibility: hidden;
}

/* line 32, ../../app/assets/stylesheets/personnages.css.scss */
.inpt_number {
  color: #333;
  padding: 1px;
  outline: none;
  background: #fff;
  border: 1px solid #fff;
  text-align: center;
}

/* line 41, ../../app/assets/stylesheets/personnages.css.scss */
.inpt_string {
  color: #333;
  padding: 1px;
  outline: none;
  background: #fff;
  border: 1px solid #ddd;
}

/* line 49, ../../app/assets/stylesheets/personnages.css.scss */
.plus {
  background: url(plus.png);
  width: 20px;
  height: 20px;
  position: relative;
  outline: none;
  margin: 0 auto;
  top: 25px;
  left: -95px;
}

/* line 60, ../../app/assets/stylesheets/personnages.css.scss */
.moins {
  background: url(minus.gif);
  width: 20px;
  height: 20px;
  position: relative;
  outline: none;
  margin: 0 auto;
  top: 25px;
  left: -100px;
}

/* line 71, ../../app/assets/stylesheets/personnages.css.scss */
.precedent {
  background: url(fleche-gauche-icon.png);
  width: 48px;
  height: 32px;
  background-repeat: no-repeat;
}

/* line 78, ../../app/assets/stylesheets/personnages.css.scss */
.suivant {
  background: url(fleche-droite-icon.png);
  width: 48px;
  height: 32px;
  background-repeat: no-repeat;
}

/* line 85, ../../app/assets/stylesheets/personnages.css.scss */
.plus_cap {
  background: url(plus.png);
  width: 20px;
  height: 20px;
  position: relative;
  outline: none;
  margin: 0 auto;
  top: 25px;
  left: -115px;
}

/* line 96, ../../app/assets/stylesheets/personnages.css.scss */
.moins_cap {
  background: url(minus.gif);
  width: 20px;
  height: 20px;
  position: relative;
  outline: none;
  margin: 0 auto;
  top: 25px;
  left: -120px;
}

/* line 107, ../../app/assets/stylesheets/personnages.css.scss */
.attribut .string {
  position: relative;
  top: -10px;
}

/* line 112, ../../app/assets/stylesheets/personnages.css.scss */
.attributs {
  height: 320px;
}

/* line 116, ../../app/assets/stylesheets/personnages.css.scss */
.description-attribut {
  font-size: 8px;
}

/* line 120, ../../app/assets/stylesheets/personnages.css.scss */
.attribut {
  height: 95px;
}

/* We need to put inline class in wrapper_html if you want to have label and stuff in the same line */
/* line 125, ../../app/assets/stylesheets/personnages.css.scss */
.inline label {
  display: inline-block;
}

/* line 129, ../../app/assets/stylesheets/personnages.css.scss */
.inline .controls {
  display: inline-block;
}

/* line 137, ../../app/assets/stylesheets/personnages.css.scss */
#carrousel {
  position: relative;
  left: -200px;
  height: 420px;
  width: 900px;
  margin: auto;
}

/* line 145, ../../app/assets/stylesheets/personnages.css.scss */
#carrousel div {
  top: 0;
  left: 0;
}

/* line 150, ../../app/assets/stylesheets/personnages.css.scss */
.img-ss-type {
  height: 400px;
  width: 200px;
}

/* line 155, ../../app/assets/stylesheets/personnages.css.scss */
.ss-type-reel {
  position: relative;
  width: 150px;
  top: 50px;
}

/* line 161, ../../app/assets/stylesheets/personnages.css.scss */
.name {
  width: 150px;
}

/* line 165, ../../app/assets/stylesheets/personnages.css.scss */
#button-select {
  left: 375px;
  position: relative;
}

/*For custom radio */
/* line 172, ../../app/assets/stylesheets/personnages.css.scss */
.custom-radio {
  padding: 2px 0;
  display: inline-block;
}

/* line 177, ../../app/assets/stylesheets/personnages.css.scss */
.custom-radio input[type="radio"] {
  display: none;
  opacity: 0;
}

/* line 181, ../../app/assets/stylesheets/personnages.css.scss */
.custom-radio span.ic_radio {
  width: 18px;
  height: 18px;
  font-size: 11px;
  color: transparent;
  text-align: center;
  padding-top: 1px;
  cursor: pointer;
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  background: -webkit-linear-gradient(#fff, #F1F5F8);
  background: -moz-linear-gradient(#fff, #F1F5F8);
  background: linear-gradient(#fff, #F1F5F8);
  border: 1px solid #BDC5CB;
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition-duration: .6s;
  -moz-transition-duration: .6s;
  transition-duration: .6s;
}

/* line 209, ../../app/assets/stylesheets/personnages.css.scss */
.custom-radio.active span.ic_radio {
  color: #fff;
  border: 1px solid #A4C02B;
  box-shadow: inset 0 0 0 9px #b6d339;
}
