<%= link_to 'Retour', root_url, class: 'btn btn-warning btn-sm create-float' %>
<h1>Liste des utilisateurs</h1>
<div class="col-md-12">
<table class="table">
  <tr>
    <th>Email</th>
    <th>Voir</th>
    <th>Editer</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= link_to 'Voir', user_path(user), class: 'btn btn-success btn-xs' %></td>
    <td><%= link_to('Editer', edit_user_path(user), class: 'btn btn-warning btn-xs') %></td>
  </tr>
<% end %>
</table>
<br />
</div>
