<h1>Listes de vos personnages</h1>


<div class="col-md-6">
  <table>
    <tr>
      <th>Personnage</th>
      <th>Voir</th>
      <% if @user.role == User::ROLE_ADMIN %>
        <th>Editer</th>
      <% end %>
    </tr>

  <% @personnages.each do |personnage| %>
    <tr>
      <td><%= link_to "#{personnage.prenom} #{personnage.nom}", personnage %></td>
      <td><%= link_to 'Voir', personnage_path(personnage), class: 'btn btn-success btn-xs' %></td>
      <td><%= link_to('Editer', edit_personnage_path(personnage), class: 'btn btn-warning btn-xs') if @user.role == User::ROLE_ADMIN %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'Nouveau personnage', new_personnage_path, class: 'btn btn-success btn-sm' %>
</div>
