<h1></h1>
<div class="col-md-12">
  <% @pjs.each_with_index do |personnage, index| %>
    <%= render 'public_show_all', personnage: personnage, index: index %>
  <% end %>
  <% if @pjs.count % 3 != 0 %>
    </div>
  <% end %> 
  <%= will_paginate @pjs %>
</div>
