<div class="col-md-6">
    <%= @personnage.nom_publique %><br/>
    <%#= image_tag("#{@personnage.image_lien}") if @personnage.image_lien.present? %>
    <%= simple_format @personnage.description_publique %>
</div>
<div class="col-md-4">
    <% url = Rails.env.development? ? @personnage.avatar_url : @personnage.avatar_url_perso if @personnage.avatar? %>
    <%= image_tag(url, class: "avatar") if @personnage.avatar? %>
</div>
