<h2></h2>
<%= simple_form_for(@personnage, url: routine_update_personnage_path, method: :post) do |f| %>
  <div class="col-md-4">
    <%= f.button :submit, class: 'btn btn-primary btn-sm' %>
  </div>
  <div class="col-md-4">
    <label for="search_routine">Rechercher une routine :</label>
    <input id="search_routine" type="text" onkeypress="filter(this, '.routine .checkbox .check_boxes')" onkeyup="epurationCheckBox(this, '.routine .checkbox .check_boxes')" />
    <div class="routine">
      <%= f.association :routines, as: :check_boxes, :collection => @routines.map {|c| [c.name, c.id]}.uniq %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    manageCheckBox("#search_routine", ".routine .checkbox .check_boxes");
  });
</script>
