// Place all the styles related to the accueil controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.classic-wod {
  width: 30%;
}

.rails-image {
  width: 36%;
}

.x20 {
  width: 50px;
  height: 50px;
}

#block-20 {
  margin: auto;
  width: 300px;
  font-size:28px;
  color:#4c4c4c;
  font-style: oblique;
  font-family: cursive;
}

.encour {
  width: 27%;
  float: left;
  position: relative;
  left: 17.5%;
}

#prime {
  // ??
}

#page-accueil {
  width: 100%;
}

#mynetwork {
  width: 800px;
  height: 500px;
  border: 1px solid lightgray;
  margin-left: auto;
  margin-right: auto;
}