/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require select2
 *= require_tree .
*/

@import "bootstrap";

html {
  overflow-y: scroll;
  background-color: #ebeeef;
}

body {
  padding-top: 30px;
  background-color: #fff;
  /*width: 1200px;*/
}

footer {
  margin-top: 10px;
  border-top: 3px solid #337ab7;
  background-color: #ebeeef;
  min-height: 40px;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}

a:link {
  text-decoration: none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/*Robin code not used yet*/
.btn_blue {
  font-size: 14px;
  color: #fff;
  background-color: #a3d1dc;
  font-weight: bold;
  padding: 5px 20px 5px 20px;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.35);

  border: 1px solid #8AAFB9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  background: linear-gradient(#A3D1DC, #81B3C0);
  background: -webkit-linear-gradient(#A3D1DC, #81B3C0);
  background: -o-linear-gradient(#A3D1DC, #81B3C0);
  background: -moz-linear-gradient(#A3D1DC, #81B3C0);
  background: -ms-linear-gradient(#A3D1DC, #81B3C0);
}
.btn_blue:hover {
  color: #fff;
  background-color: #a3d1dc;
  background: -webkit-linear-gradient(#BCDCE4, #81B3C0);
  background: -o-linear-gradient(#BCDCE4, #81B3C0);
  background: -moz-linear-gradient(#BCDCE4, #81B3C0);
  background: -ms-linear-gradient(#BCDCE4, #81B3C0);
}
.btn_blue:active {
  background-color: #a3d1dc;
  background: -webkit-linear-gradient(#81B3C0, #A3D1DC);
  background: -o-linear-gradient(#81B3C0, #A3D1DC);
  background: -moz-linear-gradient(#81B3C0, #A3D1DC);
  background: -ms-linear-gradient(#81B3C0, #A3D1DC);
}
/*end robin code */

body {
  overflow-x:hidden;
  overflow-y: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  background:#292929;
  margin:0;
}

img {
  width:100%;
  max-width:100%;
}

#page {
  // width:1300px;
  // position:relative;
  // margin-top:20px;
  // padding-left:10px;
}

.menu_btn {
  /*background: #fff url(plus.png) center center no-repeat;*/
  background:url(plus.png);
  position:absolute;
  outline: none;
  margin:10px auto;
  top:410px;
  right:30px;
  width: 20px;
  height: 20px;
}

#menu {
  height:100%;
  position:fixed;
  background:#fff;
  top:0;
  bottom:0;
  height:100%;
  width:240px;
  right:-240px;
  padding: 5px;
  z-index:9999;
  overflow:scroll;
}

.close {
  display:block;
  background:#373737 url(croix.png) center center no-repeat;
  height:47px;
  width:47px;
  // position:absolute;
  // top:0px;
  // left:-40px;
}

/*#menu ul {
  padding:0;
  margin:0;
  list-style:none;
  color:white;
}

#menu ul li {
  height:47px;
  padding-left:30px;
  line-height:47px;
  border-bottom:1px solid #d39b33;
}*/

/*#menu ul li.active {
  background:#fbce52;
}

#menu ul li:hover {
  background:#fbce52;
}
*/

/*#menu ul li a {
  color:white;
  text-decoration:none;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  display:block;
}*/

#log_in {
  #menu-login {
    width: 290px;
    // float: right;
  }
  .box
  {
    background:#fefefe;
    border: 1px solid #C3D4DB;
    border-top:1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    // margin:0 auto 30px;
    overflow:hidden;
  }
  .box input[type=email],
  .box input[type=password],
  {
      border:6px solid #F7F9FA;
      -webkit-border-radius:3px;
      -moz-border-radius:3px;
      border-radius:3px;
      -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
      -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
      box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
      margin:3px 0 4px;
      padding:8px 6px;
      width:250px;
      display:block;
  }
  .box-part1
  {
    background:#fefefe;
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:10px 20px;
  }
  .box-part2
  {
    background:#eff4f6;
    border-top:1px solid #fff;
    padding:22px 26px;
    overflow:hidden;
  }
  .submit-login {
    margin: 0px auto 0px auto;
  }
  .submit-login-single {
    margin: 0px auto 0px auto;
    // margin-left: auto;
    // margin-right: auto;
    width: 235px;
  }
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links {
  margin-bottom: 0px;
  // width: 100%;
  // margin-left: auto;
  // margin-right: auto;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#fff; //Blanc quand rien de particulier
    font-size:12px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    background:#7FB5DA;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#337ab7;
    color:#fff;
}

/*----- Content of Tabs -----*/
.tab {
    display:none;
}

.tab.active {
    display:block;
}

// End tabl links


// Start infobulle code
.infobulle {
  position: relative;
  cursor: pointer;
  // font: normal normal 85% sans-serif;
  text-shadow: #090A0B 0 -1px;
  display: inline-block;

}

.infobulle > i {
  text-align: center;
  font: italic normal 90% Georgia, serif;
  line-height: 150%;
  color: black;
  text-shadow: white 0 1px;
  background: #DDD;
  background-clip: padding-box;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
  border: 3px solid #111;
  border-radius: 3px;
  position: absolute;
  width: 250px;
  left: 110%;
  margin-left:5px;
  padding: 10px 0;
  bottom:0%;
  margin-bottom: -25px;
  visibility:hidden;
  opacity:0;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  z-index: 42;
}

.infobulle > i:before, .infobulle > i:after {
  content: "";
  position: absolute;
  border-bottom: 10px solid transparent;
    border-right:10px solid transparent;
  top: 80%;
  left: 0%;
  margin-left: -10px;
}

.infobulle > i:before {
  border-top: 13px solid #111;
  border-bottom: 13px solid #111;
  border-right:9px solid #111;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom:10px solid transparent;
  margin-left: -22px;
  z-index: 1;
}

.infobulle > i:after{

  border-top: 10px solid #DDD;
  border-bottom: 10px solid #DDD;
  border-right:10px solid #DDD;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom:10px solid transparent;
  margin-left: -18px;
  z-index: 1;
}

.infobulle:hover > i {
  visibility: visible;
  opacity: 1;
}
// endinfobulle code

.question {
  width: 90%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}


// New modal

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close2 {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

.deroulant {

}

.col-md-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-accueil {
  width: 100%;
  background:#fefefe;
  border: 1px solid #C3D4DB;
  border-top:1px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
  -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
  box-shadow:rgba(0,0,0,0.15) 0 0 1px;
  color:#444;
  font:normal 12px/14px Arial, Helvetica, Sans-serif;
  overflow:hidden;
  margin: 5px;
}

.menu-accueil-head {
  padding:10px 10px;
}

.menu-accueil-body {
  background:#fefefe;
  border-top:1px solid #dde0e8;
  border-bottom:1px solid #dde0e8;
  padding:10px 10px;
  // overflow:scroll;
  td {
    padding: 2px;
  }
}

.menu-accueil-action {
  background:#eff4f6;
  border-top:1px solid #fff;
  padding:10px 10px;
  overflow:hidden;
}

#menu-principal {

  .menu-accueil {
    width: 100%;
    background:#fefefe;
    border: 1px solid #C3D4DB;
    border-top:1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    overflow:hidden;
    margin: 5px;
  }

  .menu-accueil-head {
    padding:10px 10px;
  }

  .menu-accueil-body {
    background:#fefefe;
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:10px 10px;
    min-height: 200px;
    td {
      padding: 2px;
    }
  }

  .menu-accueil-action {
    background:#eff4f6;
    border-top:1px solid #fff;
    padding:10px 10px;
    overflow:hidden;
  }
}

// New checkox style
.custom-checkbox {
  width: 75px;
  height: 26px;

  float: left;
  display: inline;
  text-align: right;

  background: #F6F6F6;
  margin: 0px auto;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.title-custom-checkbox {
  float: left;
  display: inline;
  text-align: left;
  margin: 0px 0px;
  width: 170px;
}

.custom-checkbox:after {
  content: 'Non';
  font: 12px/26px Arial, sans-serif;
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.custom-checkbox:before {
  content: 'Oui';
  font: 12px/26px Arial, sans-serif;
  color: #0033CC;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
}

.custom-checkbox label {
  display: block;
  width: 34px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.8);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.custom-checkbox input[type=checkbox]:checked + label {
  left: 39px;
}

.custom-checkbox input[type=checkbox] {
  visibility: hidden;
}

// end custom checkox

.plus-link {
  width: 20px;
  height: 20px;
  background:url(plus.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.simple-checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 20px;
}

.icon-sphere {
  width: 10%;
}

.icon-sphere-perso {
  width: 3.5%;
}

.image-clan {
  width: 50%;
}

.image-tradition {
  width: 50%;
}

.image-perso {
  width: 200px;
  height: 200px;
}

.treestime {
  width: 25%;
}

.info-accueil {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
}

.banderole {
  height: 260px
}

.avatar {
  max-width: 300px;
  max-height: 300px;
}
