<p>Coucou <%= @email %>!</p>

<p>Tu peux confirmer la création de ton compte en cliquant sur le lien suivant :</p>

<p><%= link_to 'Confirmer la création de compte', confirmation_url(@resource, confirmation_token: @token) %></p>
