<p>Coucou <%= @resource.email %>!</p>

<p>Tu as demandé un nouveau mot de passe, tu peux cliquer sur le lien suivant et suivre la procédure.</p>

<p><%= link_to 'Change mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
