<h2></h2>
<div style="text-align: center;"><span class="h2-perso">Carte </span><span class='label label-warning'>Beta</span></div>
<div class="col-md-8">
	<div id="world-map">
		<!-- Created with Inkscape (http://www.inkscape.org/) -->
		<!-- width="2320" height="1200" -->
		<%= render 'carte_v2' %>
	</div>
</div>
<div id="list-data-lieux" class="col-md-4">
	<div style="text-align: center;">Informations lieu</div><br/>
	<div class="partie-personnage small-font">
    	Cliquez sur un lieu en vert pour voir les informations du lieu.
   	</div><br />
</div>
<script>
	init_map(<%= raw @lieux_villes.to_json(include: [:organisations, :personnages]) %>);
	managerDataLieu();
</script>
