<div id="prime" class="col-md-7">
  <div class="info-accueil">
    <p>Scan disciplines, capacités, atouts, historiques :
    <p>Vampire 20e anniversaire : 84%<br/>
       Mage 20e anniversaire : 0%</p>
  </div>
  <%= image_tag("banderole.jpg", class: 'banderole') %>
</div>
