<div id="prime">
  <div id="block-20">
    <%= image_tag 'v20.png', class: 'x20' %>
    Rubricam
    <%= image_tag 'm20.png', class: 'x20' %>
  </div>
  <%= image_tag 'classic-wod.png', class: 'classic-wod' %>
  <%= image_tag 'encour2.jpg', class: 'encour' %>
</div>
