<div class="col-md-5">
  <b>Magie dynamique</b>

  <br/><b><i>Niveau de protection maximum possible :</i></b>
  Le niveau de protection maximum d’une routine (Voir Lexique en bas du document) est égal à 5 avec 2 dans la sphère en question, 8 avec 4 dans la sphère en question, 12 avec 5.

  <br/><b><i>Nombre de succès maximum possible :</i></b>
  Le nombre de succès maximum cumulable possible pour une routine est égal au score d'entéléchie multipliée par la volonté du mage.

  <br/><b><i>Difficulté des puissants rituels :</i></b>
  Quand le mage effectue une routine (on parle ici de rituels) dont le nombre de succès dépasse les 2/3 de son nombre de succès maximum possible, cette routine devra s’accompagner d’un quelconque foci supplémentaire. Qui prendra des formes variés en fonction du paradigme du mage mais ce foci doit dans tous les cas être plus difficile à réaliser/se procurer que les foci courant du mage.

  <br/><b><i>Modificateur maximal :</i></b>
  Le modificateur maximal passe à +/- 5 au lieu de +/- 3. La difficulté minimal et maximal reste la même (respectivement 3 et 9). L'ensemble des autres règles à ce sujet reste les mêmes.

  <br/><b><i>Routine et volonté :</i></b>
  Si une routine doit influencer la psyché d’un individu la cible doit réussir un jet de volonté (SR variable, souvent 6 ou 7) avec autant de succès que l'efficacité de ladite routine.

  <br/><b><i>Niveau de protection similaire :</i></b>
  C’est le plus haut niveau de protection qui est pris en compte.

  <br/><b><i>Cibles supplémentaires :</i></b>
  La règle sur les cibles supplémentaires restent la même que dans le livre de règle sauf en ce qui concerne les effets durant plus d’une scène. Dans ce cas précis le nombre de succès supplémentaire nécessaire est égal a la somme des nombres compris entre un et le nombres de cibles supplémentaires. Par exemple : pour un sort affectant trois cibles supplémentaires, le nombre de succès nécessaires pour affecter ces trois cibles est de six.

  <br/><br/><b>Lexique</b>

  <br/><b><i>Niveau de protection.</i></b>
  Un mage possédant un protection contre une sphère (Comme avec un effet de deuxième niveau de sphère), sous forme d’enchantement par exemple bénéficie d’un niveau de protection égal au nombre de succès alloués a l'efficacité. Un niveau de protection retire un succès au test d'entéléchie.
</div>
<div class="col-md-5">
  <b>Les interactions entre la magie dynamique et les disciplines vampiriques</b>

  <br/><b><i>Effet protecteur de magie vampirique contre un effet offensif de magie dynamique :</i></b>
  Le vampire bénéficie d’un niveau de protection virtuel égal à la moitié du niveau de son pouvoir de protection vampirique (arrondie au supérieur, le plus haut niveau de discipline dans le cas d’une combinaison de discipline, le niveau du pouvoir de la discipline dans le cas d’une protection issus d’une discipline ou le niveau du rituel protecteur dans le cas d’un rituel). Si on obtient une égalité, il faut effectuer un jet de volonté en opposition.

  <br/><b><i>Effet protecteur de magie dynamique contre un effet offensif de magie vampirique :</i></b>
  Si le niveau de la discipline vampirique offensif est supérieur au niveau de protection du mage, l’effet vampirique peut fonctionner correctement (Si l’effet du pouvoir vampirique nécessite des jets de dés, ils doivent être effectuées normalement). Si le niveau de discipline vampirique offensif est inférieur au niveau de protection du mage, l’effet vampirique échoue. Si le niveau de la discipline vampirique est égal au niveau de protection du mage, il faut effectuer un jet de volonté en opposition.
  Dans le cas où un jet de dés doit être effectués et que le vampire obtient un nombre de succès au moins égal au double du niveau de la protection du mage, l'effet vampirique fonctionne correctement (même s'il ne devrait normalement pas fonctionner en suivant la première règle).

  <br/><b><i>Contremagie dynamique contre un effet de magie vampirique :</i></b>
  Si le mage obtient un nombre de succès supérieur à son test de contremagie égale à la moitié du niveau de son pouvoir vampirique (arrondie au supérieure) il annule l’effet de magie vampirique. Si le mage obtient moins de succès à son test de contremagie, il n’arrive pas à contrer l’effet vampirique. En cas d’égalité, il faut effectuer un jet de volonté en opposition.

  <br/><br/><b>Autres</b>

  <br/><b><i>Armure/Protection multiples :</i></b>
  Si un individu possède plusieurs protection, tous les malus se cumulent. Seule la plus grande armure/protection est prise en compte. Par contre le seuil est réduit d’un point par armure/protection supplémentaire efficaces contre le même type d’attaque.
  <br/><b><i>Protection antimagique multiples :</i></b>
  Si un individu possède plusieurs protection, seule la plus grande protection est prise en compte. Par contre le seuil est réduit d’un point par protection supplémentaire efficaces contre le même type d’attaque.
  <br/><b><i>Points d’expérience pour les Mages :</i></b>
  J’utiliserai la règle de base sur les points d’expérience de Mage. C’est-à-dire que c’est toujours le niveau supérieure multipliée par une constante (huit pour les sphères par exemple).
  <br/><b><i>Capacités secondaires :</i></b>
  Les capacités dites secondaires (déterminés par le conteur) coûte seulement niveau à atteindre en expérience (Que ce soit pour les mages ou les vampires). Un point bonus donne deux points de capacités secondaires ou un point de capacité secondaire pour les niveaux supérieurs à trois.
</div>
